.tall-section {
  background-color: #e6e6e6; 
  height: 1000px;             
  padding: 20px;
  font-size: 18px;
}


.navbar-nav > li > a {
  font-size: 18px;
  padding: 15px;
  background-color: #f8f8f8; 
  border-bottom: 1px solid #ddd;
}

